body 
{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 
{
    color: #000000;
    padding-left: 10px;
}

.about, .diagram
{
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

img 
{
    max-width: 50%;
    height: auto;
    display: block;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a img:hover
{
    transform: scale(1.05);
    transition: transform 0.3s;
}

ul, ol 
{
    margin: 10px 0;
    padding-left: 20px;
}

a 
{
    color: #007BFF;
    text-decoration: none;
}

a:hover 
{
    text-decoration: underline;
}
